# created by virtualenv automatically
venv
*/__pycache__
*/*/__pycache__
src/SF_plum_finder/__pycache__
src/SF_plum_finder/data/Plum_Street_Tree_List.csv
dist
.idea
/src/SF_plum_finder.egg-info
df
config.ini
performance_log.csv
profile.txt
*.prof
/scripts/street_types.txt
